<html xmlns:th="https://thymeleaf.org">  
    <head>  
        <title>Add Member Page</title>  
    </head>  
    <body>  
        <h1>Hello, Welcome to the Add member page</h1>
        <h2>Add member</h2>
        
        
        <ul>
        <li>
        <a th:href="@{/member/}">list all member </a>
        </li>
        <li>
        <a th:href="@{/member/add}"> add new member</a>
        </li>
        <li>
        <a th:href="@{/member/delete}"> add new member</a>
        </ul>  
    </body>  
</html> 